<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>This is a Page</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit error possimus repudiandae ea numquam unde quia iste non in, molestiae eos cum vero corporis, laboriosam sequi assumenda accusamus doloremque amet?</p>
  <button>Click On Me</button>

  <!-- ejs tag dynamic html-->
   <h2>EJS TAG (Interpolation Syntax)</h2>
  <h3>
    <%= "Vaishnavi Kaware".toUpperCase() %>
    <br>
    <%= ["mango","banana","orange","papaya"][1] %>
    <br>
    <%= 55+5  %>
  </h3>
</body>
</html>